.body {
    background-color: beige;
      
}

.box-conteiner1 {
    position: absolute;
    background-color: white;
    width: 595px;
    height: 842px;
    border-width: 1px;
    border-style: solid;
    border-color: #9C8B27;
}

.box-medium1 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 572px;
    height: 181px;
    top: 20px;
    left: 20px;
    border-top: 0px;
    border-bottom: 2px solid #9C8B27;
    border-right: 0px;
    border-left: 0px;
}

.box-small1 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 36px;
    top: 23px;
    left: 225px;
    color: #9C8B27;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 37px;
    font-weight: bold;

}


.box-small2 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 315px;
    height: 40px;
    top: 65px;
    left: 225px;
    color: #1B2137;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.box-small3 {
    background-color: rgb(211, 211, 24);
    width: 10px;
    height: 10px;
    top: 115px;
    left: 225px;
    position: absolute;
}

.text1 {
    color: #1B2137;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 125px;
    left: 265px;
    
}

.text2 {
    color: #1B2137;
    font-family: Arial, Helvetica, sans-serif;
    top: 115px;
    left: 265px;
    font-size: 14px;
    position: absolute;
}


.icon-2 {
    top: 152px;
    left: 225px;
    position: absolute;
}


.circle {
    position: absolute;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    top: 25px;
    left: 80px;
    
}

.maggy {
    position: absolute;
    width: 185px;
    height: 185px;
    top: 15px;
    left: 28px;

} 

.box-medium2 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 233px;
    height: 630px;
    top: 210px;
    left: 20px;
}

.box-small4 {
    background-color:#9C8B27;
    position: absolute;
    width: 224px;
    height: 23px;
    top: 210px;
    left: 25px;
    border-radius: 35px 0px 35px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align:  center ;
    margin-top: 0px;
    padding-top: 10px;
    
}

.box-small5 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 224px;
    height: 130px;
    top: 255px;
    left: 25px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1B2137;
}

.box-small6 {
    background-color:#9C8B27;
    position: absolute;
    width: 224px;
    height: 23px;
    top: 405px;
    left: 23px;
    border-radius: 35px 0px 35px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

.box-small7 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 224px;
    height: 104px;
    top: 448px;
    left: 25px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-small8 {
    background-color:#9C8B27;
    position: absolute;
    width: 224px;
    height: 23px;
    border-radius: 35px 0px 35px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    top: 557px;
    left: 25px
    
}

.box-small9 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 224px;
    height: 120px;
    top: 600px;
    left: 25px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-small10 {
    background-color: #9C8B27;
    position: absolute;
    width: 224px;
    height: 28px;
    top: 728px;
    left: 25px;
    border-radius: 35px 0px 35px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

.box-small11 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 224px;
    height: 55px;
    top: 778px;
    left: 25px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-medium3 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 327px;
    height: 630px;
    top: 210px;
    left: 265px;
}

.box-small12 {
    background-color: #9C8B27;
    position: absolute;
    width: 224px;
    height: 28px;
    top: 210px;
    left: 285px;
    border-radius: 35px 0px 35px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

.box-large1 {
    background-color: rgb(255, 255, 255);
    position:absolute;
    width: 40px;
    height: 80px;
    top: 260px;
    left: 265px;
    color: #1B2137;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.box-small13 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 275px;
    height: 35px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 315px;
    top:260px
    
}

.box-small14 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 275px;
    height: 245px;
    left: 315px;
    top: 310px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.box-large2 {
    background-color: rgb(255, 255, 255);
    position:absolute;
    width: 40px;
    height: 80px;
    top: 570px;
    left: 265px;
    color: #1B2137;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.box-small16 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 275px;
    height: 65px;
    left: 315px;
    top: 630px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-small17 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 275px;
    height: 58px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 315px;
    top: 710px;
}

.box-small18 {
    background-color: white;
    position: absolute;
    width: 275px;
    height: 65px;
    left: 315px;
    top: 775px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-large3 {
    background-color: rgb(255, 255, 255);
    position:absolute;
    width: 40px;
    height: 80px;
    top: 710px;
    left: 265px;
    color: #1B2137;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.line1 {
    background-color: #9C8B27;
    position: absolute;
    width: 2px;
    height: 638px;
    top: 202px;
    left: 259px;
  
}


.box-small15 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 275px;
    height: 58px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 315px;
    top: 570px;px 
}

#email {
    top: 158px;
    color: #1B2137;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    left: 263px;
    position:absolute
    
}

.phone {
    position: absolute;
    left: 437px;
    top: 115px;
}

.text3 {
    position: absolute;
    color: #1B2137;
    font-family: Arial, Helvetica, sans-serif;
    top: 123px;
    left: 475px;
    font-size: 14px;

}

.web {
    position: absolute;
    left: 437px;
    top: 155px;
}

.text4 {
    position: absolute;
    color: #1B2137;
    font-family: Arial, Helvetica, sans-serif;
    top: 168px;
    left: 478px;
    font-size: 14px;
}